@use '@material/card';

@include card.core-styles;

.rs-card {
    width: 445px;
    padding: 1em;
}

.rs-title {
    font-size: 1em;
    line-height: 1.5;
}

@import 'normalize';
@import 'variables';
