#app-url-switch {
  background-color: #fff;
  width: 97%;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  right: 10px;
  box-shadow: 0 8px 10px 0 #00000033, 0 6px 30px 0 #0000001f,
    0 16px 24px 0 #00000024;
  max-width: fit-content;

  &:not(:has(.empty)) {
    max-width: 850px;
  }
}
